{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>
      <hr>
	  <table class="table table-sm table-dark">
        <thead>
          <tr>
          {% for row in cafes %}
            {% if row == cafes[0] %}
              {% for title in row %}
              <th scope="col">{{ title }}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% elif row != cafes[0] %}
              {% for cell in row %}
                {% if "http" in cell %}
                     <td><a href="{{ cell }}" target="_blank">Maps Link</a></td>
                {% else %}
                    <td>{{ cell }}</td>
                {% endif %}
              {% endfor %}
          </tr>
            {% endif %}
          {% endfor %}
        </tbody>
  	    </table>

      <p><a href="{{url_for('home')}}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
